@import "mixin";


.display-4 {
    font-size: 2.5rem !important;
}


.wapper{
}
.meauAdd{
	margin-left: 4.375pc !important;
	display: block !important;
}
.meau{
	display: none !important;
}
.wapperManagerActive {
	opacity: 0;
	letter-spacing: 2px;
	position: fixed;
}
.input-custom{
    height: 50px;
    font-size: 19px;
}
.form-control:focus{
	border-color: rgb(112, 114, 247) !important;
	box-shadow: inset 0 1px 1px rgba(208, 25, 25, 0.075), 0 0 8px rgb(112, 114, 247) !important;
}
.text-custom{
	
}
.progress{
	width: 100%;
	margin-top: 14px;
}
form{
	background: #f5f7f9 !important;
	padding: 68px;
	color: #000;
}
progress{
	width: 100% !important;
	height: 5px !important;
	background: red;
	margin: 15px;
}
.imageUp{
	width: 100%;
	padding: 26px;
	height: 326px;
	background-size: cover;
}
.button-add{
	width: 100%;
	color: red;
	text-align: center;
	padding: 10px;
	background-color: #fff;
    border-top:1px solid #000 !important;
    transition: 0.5s;
}

.bg-info {
    background-color: rgb(112, 114, 247) !important;
}
.btn-primary {
    background-color: rgb(112, 114, 247) !important;
    border-color: rgb(112, 114, 247);
    font-weight: 800;
}
.btn-success {
    background-color: #25402b;
    border-color: #25402b;
}
.custom-icon{
	color: #e63636 !important;
}
.custom-icon-edit{
	color: #389c98 !important;
}
.check{
	margin-left: 10px;
}
.nav-title h3{
	text-align: center;
    padding: 20px;
    font-weight: 700;
}
.imageFile{
	display: none !important;
	
}
.side-nav{
	background: #000;
	width: 4.375pc;
	position: fixed;
	height: 100%;
	transition: 0.5s;
}
.conten-mana{
	margin-left: 4.375pc;
	position: relative;

}
.logo, .side-nav ul li{
	align-items: center;
	padding-top: 15px;
	padding-bottom: 23px;
	padding-right: 0;
	    
}
.side-nav ul li{
	margin-left: -16px;
}
.logo{
	background-image:  url(".././image/enniszeu.png");
    background-size: cover;
	border-bottom: 1px solid rgb(112, 114, 247);
}
.logo i{
	margin-left: 20px;
}
.logo a{
	color: #3e416d;
}
.side-nav ul{
	padding-top: 20px;
}
.side-nav ul li{
	list-style: none;

}
.fa-lt{
	font-size: 25px;
	color: #3e416d;
}
.nav-title{
	width: 100%;
	border-bottom: 1px solid rgb(112, 114, 247);
    height:59px;
    background:#000 !important;
    color: #000;

}
.table-dark {
    color: rgb(112, 114, 247) !important;
    background-color: #f5f7f9 !important;
    font-size: 20px;
}
tbody{
	color: #000;
}

.delete-button svg{
	font-size: 30px;
	color: #da3030;

}
td, th{
	border: 1px solid #f5f7f9 !important;
}
.MuiSvgIcon-root{
	font-size: 3.5rem !important;
	color: rgb(112, 114, 247);
	margin-left: -6px;
}
.meau-click path{
	color: #fff;
}
.close path{
	color: #fff !important;
}
.edit-button svg{
	font-size: 30px;
	color: #aaa;
}
.meau-click{
	display: none;
	width: 8%;
    padding: 12px;
    position: absolute;
}
.close{
	display: none;
	width: 8%;
    position: absolute;
    padding: 12px;
    left: -72px;
}
.imageUp{
	background: #fff;
	box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}
.image-add:hover{
	opacity: 0.5;
}
.image-add{
	position: absolute;
    color: #000;
    font-size: 22px;
    top: 98px;
    left: 284px;
    background-image: url("../image/05.svg");
    background-size: cover;
    width: 130px;
    height: 143px;
    text-align: center;
}
.image-text{
	position: absolute;
    font-size: 28px;
    top: 148px;
    left: 415px;
    font-weight: 600;
    opacity: 0.5;
    color: #504848;
}
.baner-view{
	width: 100%;
	height: 220px;
	background: #fff;
	transition: 0.5s;
	text-align: center;
  opacity: 0;

}
.baner-title{
  width: 200px;
  height: 200px;
  position: absolute  ;
  left: 40%;
  background-size: cover;
  background-image: url("../image/enniszeu2.png");
}
.baner-view h2{
	padding: 64px;
    font-weight: 600;
}
.baner-view p{
	font-weight: 300;
	font-size: 20px;
}
.blogMain{
	background-size: cover;
	background-image: url("../image/blog_bg.png");
	transition: 0.5s;
}
.blogTable{
	margin-left: 60px;
	margin-right: 60px;
}
.blogConten{
	width: 100%;
	height: 400px;
	background: #fff;
}
.blogConten img{
	width: 100%;
	height: 200px;
	background-size: cover;
}
.blogTitle h3{
	color: #aaa;
	padding-left: 20px;
	padding-top: 20px;
	font-weight: 600;
	font-size: 20px;
}
.blogTitle p{
	color: #aaa;
	padding-left: 20px;
	height: 70px;
}

.viewBlog{
	text-align: center;
}
.viewBlog a{
	width: 150px;
	height: 50px;
	background: #ff4b4e;
	color: #fff;
	font-weight: 300;
}


.btn-default{
	background: #ff4b4e !important;
	margin: 30px;
	width: 133px;
    height: 45px;
	margin-bottom: 70px;

}

.blogTitle a{
	padding: 20px;
	color: #000;
}
.blogTitle a:hover{
	color: #ff4b4e;
	text-decoration: none;
	font-weight: 600;
}
.blogConten{
	margin-top: 20px;	
}
.blogDate{
	width: 80px;
	height: 100px;
	background: #212529;
	position: absolute;
	top: 152px;
    left: 30px;
}
.blogDate1{
	background: #ff4b4e;
}
.blogDate p{
	text-align: center;
	padding: 1px;
	height: 61px;
	font-weight: 600;
}
.blogDate h5{
	text-align: center;
    margin-top: -14px;
    font-size: 16px;
    margin-top: -5px;
}
.admin {
	position: absolute;
	left: 81%;
    top: 11px;
}
.admin img{
	border-radius: 50px;
}
.valueInput{
	position: absolute;
	top: 80%;
	font-size: 20px;
	left: 71px;
}
.title-input{
	background: #fff;
    padding: 31px;
	box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
	margin-bottom: 35px;
}
.alert{
	font-size: 17px;
    font-weight: 600;
}
.display-5{
	font-size: 22px;
	font-weight: 600;
}
.rdt {
    position: relative;
}
.rdt input.form-control, .rdt input.form-control:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9c27b0),to(#9c27b0)),-webkit-gradient(linear,left top,left bottom,from(#d2d2d2),to(#d2d2d2));
    background-image: linear-gradient(#9c27b0,#9c27b0),linear-gradient(#d2d2d2,#d2d2d2);
    box-shadow: none;
}
.rdt input.form-control {
    border: 0;
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: bottom,50% calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    border-radius: 0;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.42857;
    display: block;
    width: 100%;
    color: #555;
}
.rdt .rdtPicker {
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
    margin-top: -20px;
    visibility: hidden;
    display: block;
    opacity: 0;
 }
 .rdtPicker {
    display: block;
    top: 40px;
}
.rdtPicker {
    display: none;
    position: absolute;
    width: 260px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999!important;
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 160px;
}
.rdtPicker:after, .rdtPicker:before {
    display: inline-block;
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
}
.rdtPicker:before {
    width: 0;
    height: 0;
    vertical-align: middle;
    right: auto;
    color: #fff;
    border-bottom: .4em solid;
}
.rdtPicker:after {
    border-bottom: .4em solid #fff;
}
.rdtPicker:after, .rdtPicker:before {
    display: inline-block;
    position: absolute;
    content: "";
    top: -5px;
    left: 10px;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent;
}
.rdtPicker table {
    width: 100%;
    margin: 0;
    border-color: #fff!important;
    border-collapse: collapse;
}
.rdtDays tr .dow {
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: inherit;
    padding-bottom: 5px;
    padding-top: 10px;
}
.rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
}
.rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.rdtPicker .dow, .rdtPicker .rdtTimeToggle, .rdtPicker th.rdtNext, .rdtPicker th.rdtPrev, .rdtPicker th.rdtSwitch {
    color: #9c27b0;
}
.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
    border-radius: 50%;
    line-height: 33px;
}
.rdtPicker td, .rdtPicker th {
    text-align: center;
    padding: 1px;

}
.rdtPicker td{
	color: #000;
}
.rdt.rdtOpen .rdtPicker {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
.rdtDays tr .rdtNew, .rdtDays tr .rdtOld {
    color: #bdbdbd;
}
.rdtDay {
    height: 30px;
    line-height: 33px;
    width: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}
.rdtCounters {
    display: inline-block;
}
.rdtCounters>div {
    float: left;
    width: 40px;
    font-weight: inherit;
    margin: 3px;
    border-radius: 50%;
}
.rdtCounter {
    height: 100px;
    width: 40px;
}
.rdtCounters .rdtCounterSeparator {
    width: 0;
    border: 1px solid transparent;
}
.rdtCounters>div {
    float: left;
    width: 40px;
    font-weight: inherit;
    margin: 3px;
    border-radius: 50%;
}
.rdtCounterSeparator {
    padding: 7px;
    line-height: 100px;
}
.rdtCounter .rdtBtn {
    line-height: 40px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    color: #eee;
    -webkit-transition: all 60ms ease-in;
    transition: all 60ms ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rdtDay.rdtActive, .rdtDay.rdtActive:hover, .rdtDay.rdtToday.rdtActive {
    background-color: #9c27b0!important;
    color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}
.alertCustom{
	opacity: 0.6;
	position: fixed;
}
.proces{
	height: 719px;
    width: 100%;
    position: fixed;
    background: #12141552;
}
.MuiCircularProgress-colorSecondary {
    color: #673AB7 !important;
    position: absolute;
    left: 45%;
    top: 35%;
}
.custom-suc{
	height: 728px;
    background: #0000006b;
    position: fixed;
    width: 100%;
}
.absub svg{
	color: #8BC34A !important;
}
.absub1 svg{
	color: rgb(210, 83, 74) !important;
}
.absub1 a{
	color: rgb(210, 83, 74)	!important;
}
.absub2 svg{
	color: #03A9F4 !important;
}
.form-control{
	font-size: 22px;
}
.delete-mana{
	position: fixed;
	right: -147px;
	transition: 0.5s;
}
.showdelete{
	right: 0;
	position: relative;
	transition: 0.5s;
}

.checkbox{
	width: 30px !important;
	height: 30px !important;
	visibility: unset !important;
}
.MuiPaper-elevation4 {
    height: 43px;
    color: #d0782a !important;
    background: #000 !important;
    padding: 10px;
}
.MuiTypography-h6 {
    font-size: 1.5rem !important;
    font-weight: 600;
    }
.makeStyles-root-14 {
    height: 107px !important;
}
.MuiSwitch-colorSecondary.Mui-checked {
    color: rgb(112, 114, 247) !important;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color:rgb(112, 114, 247) !important;
    }
/*.setImage img{
    position: absolute;
    top: 54px;
    height: 44%;
}*/
@include responsive_sm{
    form {
        padding: 10px;

    }
    .progress {
        width: 100%;
    }
    .input-custom {
        width: 100% !important;
    }
    .text-custom {
        
    }
    .blogConten{
        height: 450px;
    }
    .blogTable {
     margin-left: 0px; 
     margin-right: 0px; 
    }
    .blogTitle p {
        height: 70px;
    }
    .blogDate{
        top: 200px;
    }
    .postMeau{
        width: 100%;
    }
    .btn-success {
        width: 33% !important;
    }
    .text-aria img{
        height: 300px;
    }
    .postaria{
        padding: 16px;
    }
    .image-add{
        top: 54px;
        left: 122px;
    }
    .image-text{
        display: none;
    }
    label:active:after {
        width: 20px;
    }
    .none-td{
        display: none;
    }
  .baner-title{
    left: 13%;
  }
}
 
@include responsive_md{
    .blogConten img {
        height: 250px;
    }
    .blogTitle p {
        height: 20px;
    }
    .blogDate{
        top: 186px;
    }
    
    .image-add{
        top: 54px;
        left: 155px;
    }
    .image-text{
        display: none;
    }
}
 
@include responsive_lg{
    .wapper{
       .side-nav{
            width: -65px;
        } 
    }
    
    .meau-click{
        display: block;
    }
    .conten-mana {
        margin-left: 0px;
    }
    .imageUp{
        height: 300px;
    }
    .sivba{
        width: 4.375pc;
    }
}

 
@include responsive_xl{


}







/*proces*/
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 8px solid #0e0e0eb5;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}


.loading-spinner {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 45%;
  margin: -15px 0 -15px;
}

/**/