@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.display-4 {
    font-size: 1.5rem !important;
}


.wapper{
}
.meauAdd{
	margin-left: 4.375pc !important;
	display: block !important;
}
.meau{
	display: none !important;
}
.wapperManager{
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
.input-custom{
	width: 50% !important;
}
.text-custom{
	width: 80% !important;
}
.progress{
	width: 100%;
	margin-top: 14px;
}
form{
	background: #f5f7f9 !important;
	padding: 68px;
	color: #000;
}
progress{
	width: 100% !important;
	height: 5px !important;
	background: red;
	margin: 15px;
}
.imageUp{
	width: 100%;
	height: 400px;
	background-size: cover;
}
.button-add{
	width: 100%;
	color: red;
	text-align: center;
	padding: 10px;
	background-color: #fff;
    border-top:1px solid #000 !important;
    transition: 0.5s;
}

.bg-info {
    background-color: #4a0e14!important;
}
.btn-primary {
    background-color: #4a0e14 !important;
    border-color: #4a0e14;
}
.btn-success {
    background-color: #25402b;
    border-color: #25402b;
}
.custom-icon{
	color: #e63636 !important;
}
.custom-icon-edit{
	color: #389c98 !important;
}
.check{
	margin-left: 10px;
}
.nav-title h3{
	text-align: center;
    padding: 20px;
    font-weight: 700;
}
.imageFile{
	height: 0px;
	background: #000 !important;
	border:none;
	width: 0px !important;
	position: absolute;
	opacity: 0;
	
}
.side-nav{
	background: #fff;
	width: 4.375pc;
	position: fixed;
	height: 100%;
	transition: 0.5s;
}
.conten-mana{
	margin-left: 4.375pc;
	position: relative;

}
.logo, .side-nav ul li{
	align-items: center;
	padding-top: 15px;
	padding-bottom: 23px;
	padding-right: 0;
	    
}
.side-nav ul li{
	margin-left: -16px;
}
.logo{
	background: #f5f7f9;
	border-bottom: 1px solid #000;
}
.logo i{
	margin-left: 20px;
}
.logo a{
	color: #3e416d;
}
.side-nav ul{
	padding-top: 20px;
}
.side-nav ul li{
	list-style: none;

}
.fa-lt{
	font-size: 25px;
	color: #3e416d;
}
.nav-title{
	width: 100%;
	border-bottom: 1px solid #000;
    height: 4.375pc;
    background:#f5f7f9 !important;
    color: #000;

}
.meau-click{
	display: none;
	width: 8%;
    height: 100%;
    padding: 20px;
    position: absolute;
}
.close{
	display: none;
	width: 8%;
    height: 30%;
    position: absolute;
    padding: 20px;
    left: -72px;
}

.image-add{
	position: absolute;
    color: #000;
    font-size: 22px;
    top: 231px;
    color: red;
    height: 1px;
    width: 94%;
    text-align: center;
}
.baner-view{
	width: 100%;
	height: 220px;
	background:#fff;
	text-align: center;

}
.baner-view h2{
	padding: 64px;
    font-weight: 600;
}
.baner-view p{
	font-weight: 300;
	font-size: 20px;
}
.blogMain{
	background-size: cover;
	background-image: url("../image/blog_bg.png");
	transition: 0.5s;
}
.blogTable{
	margin-left: 60px;
	margin-right: 60px;
}
.blogConten{
	width: 100%;
	height: 400px;
	background: #fff;
}
.blogConten img{
	width: 100%;
	height: 200px;
	background-size: cover;
}
.blogTitle h3{
	color: #aaa;
	padding-left: 20px;
	padding-top: 20px;
	font-weight: 600;
	font-size: 20px;
}
.blogTitle p{
	color: #aaa;
	padding-left: 20px;
	height: 70px;
}

.viewBlog{
	text-align: center;
}
.viewBlog a{
	width: 150px;
	height: 50px;
	background: #ff4b4e;
	color: #fff;
	font-weight: 300;
}
.text-aria{
	text-align: left;
	color: #000;
    background: #fff;
}
.text-aria p{
    padding: 30px;
}
.text-aria img{
	width: 100%;
	height: 420px;
}
.btn-default{
	background: #ff4b4e !important;
	margin: 30px;
	width: 133px;
    height: 45px;
	margin-bottom: 70px;

}

.blogTitle a{
	padding: 20px;
	color: #000;
}
.blogTitle a:hover{
	color: #ff4b4e;
	text-decoration: none;
	font-weight: 600;
}
.blogConten{
	margin-top: 20px;	
}
.blogDate{
	width: 80px;
	height: 100px;
	background: #212529;
	position: absolute;
	top: 152px;
    left: 30px;
}
.blogDate1{
	background: #ff4b4e;
}
.blogDate p{
	text-align: center;
	padding: 1px;
	height: 61px;
	font-weight: 600;
}
.blogDate h5{
	text-align: center;
    margin-top: -14px;
    font-size: 16px;
    margin-top: -5px;
}
.admin {
	position: absolute;
	left: 81%;
    top: 11px;
}
.admin img{
	border-radius: 50px;
}
@media (max-width: 992px){
	.side-nav{
		width: 0pc;
	}
	.meau-click{
		display: block;
	}
	.conten-mana {
     	margin-left: 0px;
	}
	.imageUp{
		height: 300px;
	}
	.sivba{
		width: 4.375pc;
	}

}
@media (max-width: 768px) { 
	.blogConten img {
    	height: 250px;
	}
	.blogTitle p {
    	height: 20px;
    }
    .blogDate{
	    top: 186px;
	}

}
@media (max-width: 576px) { 
	
	form {
    	padding: 10px;

	}
	.progress {
    	width: 100%;
	}
	.input-custom {
    	width: 100% !important;
	}
	.text-custom {
    	width: 100% !important;
	}
	.blogConten{
		height: 450px;
	}
	.blogTable {
     margin-left: 0px; 
     margin-right: 0px; 
	}
	.blogTitle p {
    	height: 70px;
    }
    .blogDate{
	    top: 200px;
	}
	.postMeau{
		width: 100%;
	}
	.btn-success {
		width: 33% !important;
	}
	.text-aria img{
		height: 300px;
	}
	.postaria{
		padding: 16px;
	}
	
	
}

