
.wapperManager{
	opacity: 0;
	position:fixed;
}
.loading12{
	opacity: 1;
	position: relative;
}

.postBackground{
	background: #f6f8fa;
}
.postMeau{
  	width:80%;
    margin-top: 30px;
    margin: 93px;
    background: #fff;
    padding-bottom: 30px;
}
.postMeau img{
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
}
.postMeau h4, .postMeau a{
	width: 80%;
	text-align: center;
	font-weight: 200;
	color: #000;
	padding: 0px;
	font-size: 14px;
}
.postMeau a:hover{
	color: #ff4b4e;
}
.display-4:hover{
	color: #ff4b4e;	
}
.postMeau p{
	font-size: 14px;
	padding-top: 12px;
}
.blogDatePost{
	 width: 80px;
    height: 100px;
    background: #212529;
    margin-top: -75px;
    margin-left: 32px;

}
.blogDatePost h5{
  color: #fff;
}
.blogDatePost h3{
  color: #fff;
      color: #fff;
    font-size: 10px;
    margin: 10px;
}
.meauPost{
	background: #fff;
	padding: 53px;
    margin-top: 30px;
}
.meauPost a{
	color: #000;
}
.meauPost,.meauPost h2,.meauPost ul{
	text-align: left;
	color: #000;
}
.meauPost ul li{
	padding: 10px;
}
.meauPost hr{
	width: 50%;
	float: left;
	background: #000;
}
.blogDatePost{
	text-align: center;
}
.col-12-custom{
	padding: 0px !important;
}
.row-custom{
	margin: 0px !important;
}

.input-search{
	margin-top: 32px;
	width: 100%;
	
}

/*VIEW*/
.meauPost-aria{
	background: #fff;
	padding: 35px;
}
.meauPost-aria h1{
	color: #000;
		
}

.random p{
	padding-right: 150px;
}
.loading-custom{
	position: fixed;
	top: 300px;
    left: 50%;
}

.text-aria p{
    padding: 30px;
    font-size: 17px
}
.text-aria h2{
    text-align: center;
    margin-top: 0;
}
.text-aria h4{
    padding: 30px;
    font-size: 14px;
    font-weight: 600;
}

.text-aria img{
    width: 100%;
    height: 420px;
}

@media (max-width: 992px) { 
	.postMeau{
		width:90%;
	    margin: 30px;
	    padding-left: 80px;
	    padding-right: 0px;
	}
	
}
@media (max-width: 768px) {
    .postMeau{
        margin: 20px;
    }
 }                           
@media (max-width: 560px) { 
	.postMeau{
		width:100%;
	    padding-left: 0px;
	    padding-right: 0px;
      margin: 0;
	}
	.postMeau img {
	    height: 300px;
	}
	.postMeau h4, .postMeau a{
		width: 100%;
		padding-left: 39px;
    padding-right: 39px;
	}
	.loading-custom{
	    left: 38%;
	}
    .text-aria img{
        height: 306px;
    }


	
}







/*loading00*/
@-webkit-keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 32px;
    top: 0;
  }
  23% {
    left: 32px;
    top: 0;
  }
  25% {
    left: 64px;
    top: 0;
  }
  35.5% {
    left: 64px;
    top: 0;
  }
  37.5% {
    left: 64px;
    top: 32px;
  }
  48% {
    left: 64px;
    top: 32px;
  }
  50% {
    left: 32px;
    top: 32px;
  }
  60.5% {
    left: 32px;
    top: 32px;
  }
  62.5% {
    left: 32px;
    top: 64px;
  }
  73% {
    left: 32px;
    top: 64px;
  }
  75% {
    left: 0;
    top: 64px;
  }
  85.5% {
    left: 0;
    top: 64px;
  }
  87.5% {
    left: 0;
    top: 32px;
  }
  98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-webkit-keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.loading  {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.loading {
  position: relative;
  width: 96px;
  height: 96px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: hue-rotate 10s linear infinite both;
          animation: hue-rotate 10s linear infinite both;
}

.loading__square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 2px;
  background: #07a;
  background-image: linear-gradient(45deg, #fa0 40%, #0c9 60%);
  background-image: -moz-linear-gradient(#fa0, #fa0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: square-animation 10s ease-in-out infinite both;
          animation: square-animation 10s ease-in-out infinite both;
}
.loading__square:nth-of-type(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading__square:nth-of-type(1) {
  -webkit-animation-delay: -1.4285714286s;
          animation-delay: -1.4285714286s;
}
.loading__square:nth-of-type(2) {
  -webkit-animation-delay: -2.8571428571s;
          animation-delay: -2.8571428571s;
}
.loading__square:nth-of-type(3) {
  -webkit-animation-delay: -4.2857142857s;
          animation-delay: -4.2857142857s;
}
.loading__square:nth-of-type(4) {
  -webkit-animation-delay: -5.7142857143s;
          animation-delay: -5.7142857143s;
}
.loading__square:nth-of-type(5) {
  -webkit-animation-delay: -7.1428571429s;
          animation-delay: -7.1428571429s;
}
.loading__square:nth-of-type(6) {
  -webkit-animation-delay: -8.5714285714s;
          animation-delay: -8.5714285714s;
}
.loading__square:nth-of-type(7) {
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}